<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @employment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @employment.description %>
</p>

<%= link_to 'Edit', edit_employment_path(@employment) %> |
<%= link_to 'Back', employments_path %>
